
.article-feed-container .default-content-wrapper {
  text-align: center;
}

.article-cards > a {
  color: #000;
}

.article-cards > a:hover {
  text-decoration: none;
}

.article-cards {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  transition-property: transform;
  transition-duration: 300ms;
  transform: translate3d(var(--current-x), 0, 0);
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

.article-cards .article-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 20px 10px 10px;
  background-color: #ddd;
}

.article-cards .article-card picture {
  background-color: #fff;
}

.article-cards .article-card h3 {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}

.article-card::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  transition: opacity 0.3s ease-in-out;
}

.article-card:hover::after {
  opacity: 1;
}


@media (min-width: 768px) {
  .article-cards {
    flex-flow: row wrap;
    gap: 20px;
  }

  .article-cards .article-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 990px) {
  .article-cards .article-card {
    flex-basis: calc(33% - 20px)
  }
}